// General Font/Sizes

body {
    color: $fontColour;
    background: $backgroundColour;
    height: 100vh;
    position: relative;
}


// Wrapper
.wrapper {
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}


