// General Font/Sizes

body {
    color: $fontColour;
    background: $backgroundColour;
}


// Wrapper
.wrapper {
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

// Footer
footer {
    background: $formColour;
    margin-bottom: 0;
}

h5 {
    margin-bottom: 0;
    font-size: 13px;
}