
// Heading
h1 {
    color: $fontColourTwo;
    font-family: $headingFont;
    font-size: 4rem;
    letter-spacing: 4px;
    margin: 1%;
    margin-top: 0; 
    text-decoration: underline;
    text-decoration-color: $accentColour;
}

h2 {
    font-family: $bodyFont;
    margin: 0 0 10px 0;
    color: $fontColourTwo;
}

// Footer
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: $formColour;
    margin-bottom: 0;
}

h5 {
    margin: 3px;
    font-size: 11px;
}