
// Instructions/Notes Section

h4 {
    margin: 10px;
}

.instructions,
.notes {
    text-align: left; 
    
}

.instructionsNotes {
    display: flex;
}

.instructionsDiv,
.notesDiv {
    width: 48%;
    border: 5px $accentColour solid;
    margin-bottom: 10px;
    color: $fontColourTwo;

    ul {
        margin-top: 5px;
    }
}

.instructionsDiv {
    margin-right: 4%;
    padding-right: 5px;
}

.instructions li {
    list-style-type: decimal;
}


// Calculator

.calculator {
    background: $formColour;
    border: 5px $accentColour solid;
}
// Fieldsets

fieldset {
    border: 5px $accentColour dotted;
    margin-top: 2%;
}

input {
    width: 10%;
    min-width: 50px;

    &:after {
        content: '%';
        font-size: 30px;
    }
}

legend {
    padding-bottom: 5px;
}

.percentSymbol {
    margin-right: 7%;
}

.field {
    display: inline;
}

// Button

button {
    border: 0;
    margin: 15px;
    padding: 10px 15px;
    box-shadow: 5px 5px;
    
    &:hover {
        background: $accentColour;
        box-shadow: 3px 3px;
    }

    &:focus {
        background: $accentColour;
    }
}

// Results

h3 {
    margin: 10px;
}
.results {
    font-size: 2rem; 
    margin: 20px;
    color: $fontColour;
}



