
// Colours
$backgroundColour: #d8d8d8;
$formColour: #6e7271;
$accentColour: #9ac2c9;
$fontColour:   #f6f7f8;
$fontColourTwo:#1D1E18;

// Fonts
$headingFont: 'Nanum Gothic', sans-serif;
$bodyFont: 'Raleway', sans-serif;